services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: chitangchin/finbackend:dev
    ports:
      - "8080:8080"
    container_name: fastapi-backend
    environment:
      DATABASE_URL: "mssql+pyodbc://sa:azureaihack2025!@database:1433/FinancialBudgetApp?driver=ODBC+Driver+17+for+SQL+Server"
      SECRET_KEY: "yaybycydye"
      ALGORITHM: "HS256"
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
      REDIS_HOST: "redis"
      REDIS_PORT: 6379
    depends_on:
      - database
      - redis
    restart: always

  database:
    container_name: sqldb
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=azureaihack2025!
      - MSSQL_PID=Developer
      - MSSQL_MEMORY_LIMIT_MB=2048

  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes --maxmemory 512mb --maxmemory-policy volatile-lru

volumes:
  mssql_data:
  redis_data: